.tags {
  margin-bottom: 12px;
  cursor: pointer;
}
.contentStyle {
  color: #656262;
  font-size: 14px;
  font-style: italic;
}
.subtitle {
  font-style: italic;
}
.interviewStyle {
  &:hover {
    color: #0085a1;
    cursor: pointer;
  }
  a {
    color: rgba(0, 0, 0, 0.65);
    &:hover {
      color: #0085a1;
    }
  }

}
